@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.Nav {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.Nav h1 {
  padding: 1vw;
  font-weight: lighter;
  font-size: 1.5vw;
}
@media (min-width: 1px) and (max-width: 425px) {
  .Nav h1 {
    font-size: 4vw;
    padding: 5vw;
  }
}

.Section1 {
  min-width: 100%;
  position: relative;
  background: #04000c;
  text-align: center;
}
.Section1 h1 {
  padding-top: 5vw;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 7px;
}
@media (min-width: 1px) and (max-width: 425px) {
  .Section1 {
    padding-top: 16vw;
  }
  .Section1 h1 {
    padding: 0px 41px;
    font-size: 6.5vw;
    padding-bottom: 10vw;
  }
}
.Section1 .SunS {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
}
@media (min-width: 1px) and (max-width: 425px) {
  .Section1 .SunS {
    width: 50px;
    height: 50px;
  }
}

.planetholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#planetName {
  padding-top: 0vw;
  padding: 1vw 41px 1vw 41px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 7px;
}
@media (min-width: 1px) and (max-width: 425px) {
  #planetName {
    padding: 5vw 41px 5vw 41px;
  }
}

.Flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FlexContent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1px) and (max-width: 425px) {
  .FlexContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.MainImgHolder {
  width: 33%;
  margin: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainImg {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1px) and (max-width: 425px) {
  .MainImg {
    width: 100%;
    height: 100%;
  }
}

.MainTextHolder1 {
  width: 33%;
  padding-left: 10vw;
  padding-top: 2vw;
  text-align: left;
}
.MainTextHolder1 p {
  font-size: 1vw;
  text-align: justify;
}
@media (min-width: 1px) and (max-width: 425px) {
  .MainTextHolder1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 41px;
  }
  .MainTextHolder1 p {
    font-size: 4.5vw;
    text-align: justify;
  }
}

.MainTextHolder2 {
  width: 33%;
  padding-right: 10vw;
  padding-top: 2vw;
  text-align: left;
}
.MainTextHolder2 p {
  font-size: 1vw;
  text-align: justify;
}
@media (min-width: 1px) and (max-width: 425px) {
  .MainTextHolder2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 41px;
  }
  .MainTextHolder2 p {
    font-size: 4.5vw;
    text-align: justify;
  }
}

.Section1:before {
  content: " ";
  background-image: -webkit-gradient(linear, left bottom, left top, from(#04000c), to(transparent));
  background-image: -o-linear-gradient(bottom, #04000c, transparent);
  background-image: linear-gradient(to top, #04000c, transparent);
  position: absolute !important;
  z-index: 888;
  width: 100vw;
  top: -49px;
  height: 50px;
  left: 0;
}

.Section2 {
  height: 100vh;
  overflow: hidden;
  position: relative !important;
}

.Sun {
  width: 45%;
  height: 100%;
  position: relative;
  left: -25vw;
  top: -20vh;
  z-index: 1;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Sun {
    width: 45%;
    height: 100%;
  }
}

.moon {
  position: absolute;
  left: 0;
  bottom: 0vw !important;
  top: unset !important;
}
.moon .moonrover {
  width: 150px;
}
@media (min-width: 1px) and (max-width: 425px) {
  .moon .moonrover {
    width: 45px;
    height: 100%;
  }
}

.fore {
  left: -50px !important;
  top: 32vh !important;
}
@media (min-width: 1px) and (max-width: 425px) {
  .fore {
    top: 0px !important;
    left: -5px !important;
    height: 100vh;
  }
}

.Foreground {
  height: 70vh;
  width: 105vw;
  z-index: 3;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Foreground {
    height: 40vh;
    position: absolute;
    bottom: 0px;
  }
}

.fore1 {
  left: -160px !important;
  top: -70px !important;
}
@media (min-width: 1px) and (max-width: 425px) {
  .fore1 {
    top: -50px !important;
    left: -55px !important;
    height: 100vh;
  }
}

.Foreground1 {
  height: 110vh;
  width: 40vw;
  z-index: 3;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Foreground1 {
    height: 125vh;
    width: 100vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .Foreground1 {
    height: 125vh;
    width: 100vw;
  }
}

.bg {
  top: -2vw !important;
  left: -2vw !important;
}

.bg img {
  width: 120vw;
  height: 120vh;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.Stars img {
  width: 100vw;
  height: 120vh;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Stars img {
    height: 125vh;
    width: 300vw;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

.HeadingCenter {
  left: 50% !important;
  top: 50% !important;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2vw;
}
.HeadingCenter h1 {
  -webkit-filter: drop-shadow(26px 36px 11px black);
          filter: drop-shadow(26px 36px 11px black);
  font-family: "Press Start 2P", cursive;
  letter-spacing: 7px;
}
@media (min-width: 1px) and (max-width: 425px) {
  .HeadingCenter h1 {
    font-size: 14vw;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .HeadingCenter h1 {
    font-size: 5vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
  color: #fff;
  line-height: 1.5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
  color: #fff;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

#scene {
  max-height: 100% !important;
}

ul {
  list-style: none;
}

.cursor {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px white solid;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 999999;
  pointer-events: none;
}
@media (min-width: 1px) and (max-width: 786px) {
  .cursor {
    display: none;
  }
}

.cursor::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(6.5px, 5.5px);
      -ms-transform: translate(6.5px, 5.5px);
          transform: translate(6.5px, 5.5px);
  border: 2px white solid;
  border-radius: 50%;
  z-index: 99999;
  pointer-events: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: #090411;
}

::-webkit-scrollbar-thumb {
  background-color: #121e50;
  height: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  display: none;
}

/*# sourceMappingURL=/App.7aaa0588.css.map */