@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.Section1 {
  min-width: 100%;
  height: 100%;
  position: relative;
}
.Section1 .Overlay {
  background: #090411;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.Section1 .Overlay .Section1Heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.Section1 #myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.Section1:before {
  content: " ";
  background-image: -webkit-gradient(linear, left bottom, left top, from(#090411), to(transparent));
  background-image: -o-linear-gradient(bottom, #090411, transparent);
  background-image: linear-gradient(to top, #090411, transparent);
  position: absolute !important;
  z-index: 5555555;
  width: 100vw;
  top: -49px;
  height: 50px;
}

.Section2 {
  height: 100vh;
  overflow: hidden;
  position: relative !important;
}

.Sun {
  width: 45%;
  height: 100%;
  position: relative;
  left: 15vw;
  top: 20vh;
  z-index: 1;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Sun {
    width: 45%;
    height: 100%;
  }
}

.fore {
  left: -50px !important;
  top: 350px !important;
}
@media (min-width: 1px) and (max-width: 425px) {
  .fore {
    top: 0px !important;
    left: -5px !important;
    height: 100vh;
  }
}

.Foreground {
  height: 70vh;
  width: 105vw;
  z-index: 3;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Foreground {
    height: 40vh;
    position: absolute;
    bottom: 0px;
  }
}

.fore1 {
  left: -160px !important;
  top: -50px !important;
}
@media (min-width: 1px) and (max-width: 425px) {
  .fore1 {
    top: 0px !important;
    left: -100px !important;
    height: 100vh;
  }
}

.Foreground1 {
  height: 110vh;
  width: 40vw;
  z-index: 3;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
@media (min-width: 1px) and (max-width: 425px) {
  .Foreground1 {
    height: 125vh;
    width: 100vw;
  }
}

.bg {
  left: -2vw !important;
}

.bg img {
  width: 120vw;
  height: 120vh;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.HeadingCenter {
  left: 50% !important;
  top: 50% !important;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2vw;
}
.HeadingCenter h1 {
  -webkit-filter: drop-shadow(26px 36px 11px black);
          filter: drop-shadow(26px 36px 11px black);
  font-family: "Press Start 2P", cursive;
  letter-spacing: 7px;
}
@media (min-width: 1px) and (max-width: 425px) {
  .HeadingCenter h1 {
    font-size: 8vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
  color: #fff;
  line-height: 1.5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
  color: #fff;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: #090411;
}

::-webkit-scrollbar-thumb {
  background-color: #121e50;
  height: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  display: none;
}

/*# sourceMappingURL=/App.7aaa0588.css.map */