.top{
    width: 100%;
 
    #N{
        padding-top: 20px;
    }
    #NW{
        padding: 20px;
    }
    #NE{
        padding: 20px;
    }
}

.middle{
    width: 100%;
    #E{
        padding-right: 20px;
    }
    #W{
        padding-left: 20px;
    }
}

.bottom{
    width: 100%;
    place-items: flex-end;
    #S{
        padding-bottom: 20px;
    }
    #SW{
        padding: 20px;
    }
    #SE{
        padding: 20px;
    }
  
}

.mainNav{
    font-size: 3vw;
    @media (min-width:1px) and (max-width:425px) {
        font-size: 6vw;
}

}

