.Section2{
  height: 100vh;
  overflow: hidden;
  position: relative!important;

}

.Sun{
  width: 45%;
  height: 100%;
  position: relative;
  left: -25vw;
  top: -20vh;
  z-index: 1;
  filter:brightness(0.9);
  @media(min-width:1px) and (max-width:425px){
    width: 45%;
    height: 100%;
   }
}
.moon{
  position: absolute;
  left: 0 ;
  bottom: 0vw !important;
  top: unset !important;
  .moonrover{
  width: 150px;
  @media(min-width:1px) and (max-width:425px){
    width: 45px;
    height: 100%;
   }
  }
}
.fore {
  left: -50px !important;
  top: 32vh!important;
  @media(min-width:1px) and (max-width:425px){
    top: 0px !important;
    left: -5px !important;
    height: 100vh;
   }

}

.Foreground{
  height: 70vh;
  width: 105vw;
  z-index: 3;
  filter:brightness(0.5);
  @media(min-width:1px) and (max-width:425px){
    height: 40vh;
    position: absolute;
    bottom: 0px;
    
   }

}

.fore1 {
  left: -160px !important;
  top: -70px !important;
  @media(min-width:1px) and (max-width:425px){
    top: -50px !important;
    left: -55px !important;
    height: 100vh;
   }

}

.Foreground1{
  height: 110vh;
  width: 40vw;
  z-index: 3;
  filter:brightness(0.9);
  @media(min-width:1px) and (max-width:425px){
    height: 125vh;
    width: 100vw;
   }

}
.bg  {
  top: -2vw  !important;
  left: -2vw  !important;

}
.bg img {
width: 120vw;
  height: 120vh;

  filter: brightness(0.7);
}

.HeadingCenter{
  left: 50% !important;
  top: 50% !important;
  position: absolute;
  transform: translate(-50% ,-50%);
  font-size: 2vw;
  h1{
    filter: drop-shadow(26px 36px 11px black);
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 7px;
 @media(min-width:1px) and (max-width:425px){
  font-size: 8vw;
 }
  }
}